.navbar.navbar-fixed-top {
    background: white;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    padding: 0;
    min-height: 45px;
    height: 112px;
    width: 100%;
    border: 0;
    transition: all 0.3s;
}

.navbar.navbar-fixed-top.closed {
    top: -45px;
}

.navbar .container-fluid.main-nav {
    height: 66px;
    float: left;
    width: 100%;
    transition: all 0.3s;
}

.navbar .container-fluid.top-bar {
    height: 46px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 0 20px;
    width: 100%;
    float: left;
    .logo {
        float: left;
        margin: 14px 10px 0 0;
        text-decoration: none;
        // width: 54px;
        height: 16px;
        img {
            height: 100%;
            width: auto;
        }
        // background:url('../images/visionapps.svg');
    }
}

.navbar .container-fluid.top-bar .nav {
    height: 100%;
    position: relative;
    z-index: 100;
    li {
        height: 100%;
        margin-right: 5px;
        float: left;
        a {
            display: block;
            height: 45px;
            line-height: 25px;
            padding: 8px 10px 9px;
            position: relative;
            transition: all 0.3s;
            span {
                display: block;
                width: 28px;
                height: 28px;
                font-size: 28px;
                color: #999999;
            }
            p.counter {
                position: absolute;
                top: 5px;
                left: 0px;
                height: 18px;
                min-width: 18px;
                padding: 0 5px;
                border-radius: 9px;
                background: #e62828;
                text-align: center;
                line-height: 17px;
                color: white;
                font-size: 11px;
            }
        }
    }
}

.navbar .container-fluid.main-nav .nav-collapse .nav {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    li {
        float: none;
        display: inline-block;
        text-align: center;
        margin: 0 6px;
        a {
            display: block;
            height: 100%;
            text-align: center;
            padding: 10px 15px 9px;
            color: #999999;
            font-size: 12px;
            font-weight: 400;
            &.current {
                color: #007aff;
            }
            span {
                font-size: 28px;
                width: 28px;
                height: 28px;
                display: block;
                margin: 0 auto 2px;
            }
        }
    }
}


/*----------------------------------------------------------------------------------- */


/*  Dropdowns */


/*----------------------------------------------------------------------------------- */

.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid #dddddd;
    padding: 0;
    min-width: 120px;
    max-width: 300px;
}

.dropdown-menu > li {
    margin: 0;
}

.dropdown-menu > li > a {
    padding: 10px 15px 10px 2px;
    border-bottom: 1px solid #e2e2e2;
    color: #999999;
    font-size: 12px;
    margin-left: 14px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a.current {
    border-bottom-color: #007aff;
    color: #007aff;
    background: transparent;
}

.dropdown-menu > li > a i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

.dropdown-menu > li:last-child > a {
    border: 0;
}

.dropdown-menu > li .notifications {
    margin: -1px -4px 0 0 !important;
    float: right;
}

.dropdown-menu > li p {
    margin: 0 60px 0 0;
}

.messages img {
    border-radius: 50%;
    margin-right: 14px;
}

.masthead {
    padding-top: 112px;
    background: #fff;
    &.closed {
        // padding-top: 135px;
    }
}

[v-cloak] {
    display: none;
}

a.iconfont {
    text-decoration: none;
}

table.table.table-bordered {
    margin-bottom: 0;
    tr>th,
    tr>td {
        text-align: center;
        border-bottom: none;
    }
}

.modal-body {
    &.modal-table {
        max-height: 500px;
        overflow-y: auto;
    }
}

.m-page {
    span.pull-right {
        vertical-align: middle;
        padding: 6px 0px 6px 0;
    }
}

.mar-bt20 {
    margin-bottom: 20px
}

.row.distpicker {
    // 表单 三级联动样式
    // margin: 0;
    select {
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin-left: 15px;
    }
}

.input-group.input-table {
    width: 100%;
    .btn {
        display: table-cell;
        font-size: 0;
        position: relative;
        white-space: nowrap;
        width: 1%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        background-color: #fff;
        border-color: #ccc;
        margin-left: -1px;
        border-left: none;
    }
}

fieldset {
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: center;
    border-radius: 4px;
    legend {
        width: auto;
        padding: 0 12px;
        border:none;
        margin:0;
    }
}
