@import './../bower_components/bootstrap/dist/css/bootstrap.min.css';

$line-height-computed: transparent;
$footer-bg: #eee;
$footer-text: #777;
$footer-link-color: transparent;
$footer-link-hover-color: #555;
$footer-divider-border: #ddd;
$screen-md: 992px;
$screen-md-min: $screen-md;
$px24:24px;
.footer {
    padding-top: $px24;
    padding-bottom: $px24;
    // text-align: center;
    color: $footer-text;
    background-color: $footer-bg;
    a {
        color: $footer-text;
        &:hover,
        &:focus {
            color: $footer-link-hover-color;
        }
    }
    &-divider {
        margin-left: .75ex;
        margin-right: .75ex;
        color: $footer-divider-border;
    }
    &-author {
        margin-top: $line-height-computed;
        display: inline-block;
        opacity: .5;
        &:hover,
        &:focus {
            opacity: .85;
        }
    }
}

.site-footer,
.site-header {
    display: block;
    // flex: 0;
}

.set {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-content,
.aligner-item {
    flex: 1;
}

.aligner {
    display: flex;
    align-items: center;
}

body {
    position: absolute;
    // background-color: #000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.offset-bottom-large {
    margin-bottom: 200px;
}

.box {
    max-width: 22em;
}

.page-header{
    border-color: #ddd;
    font-size: 24px;
}
