<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加进场信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_y6lg6oy8ls4te29.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../bower_components/distpicker/dist/distpicker.data.js"></script>
    <script type="text/javascript" src="../../bower_components/distpicker/dist/distpicker.js"></script>
    <script type="text/javascript" src="../bower_components/vue/dist/vue.js"></script>
</head>

<body>
    <my-header></my-header>
    <div class=" masthead ">
        <div class="container">
            <div style="padding-top: 10px;">
                <ol class="breadcrumb container">
                    <li><a href="#">回到主页</a></li>
                    <li><a href="/matterInReg">进场信息</a></li>
                    <li class="active">{{breadcrumb}}</li>
                </ol>
            </div>
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="TRANS_ID" class="col-sm-2 control-label">选择模板</label>
                    <label class="checkbox-inline">
                        <input type="radio" name="demo" id="optionsRadios3" value="option1" checked> 测试
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="demo" id="optionsRadios4" value="option2"> 武汉
                    </label>
                </div>
                <div class="form-group">
                    <label for="TRANS_ID" class="col-sm-2 control-label">供应商</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="" placeholder="供应商">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">进场日期</label>
                    <div class="col-sm-10" id="sandbox-container">
                        <input type="text" class="form-control" name="IN_DATE" v-model="inDate | date 'YYYY-MM-DD'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">产地</label>
                    <div class="col-sm-10">
                        <div id="distpicker" data-toggle="distpicker" class="row distpicker">
                            <select class="col-sm-3" data-province="---- 选择省 ----"></select>
                            <select class="col-sm-3" data-city="---- 选择市 ----"></select>
                            <select class="col-sm-3" data-district="---- 选择区 ----"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">生产基地</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="请输入生产基地">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">运输车牌号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="请输入运输车牌号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">供货单位</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>111</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-refresh"></i> 重置
                        </button>
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-ok"></i> 提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../scripts/controllers/matter_in_reg/add.js"></script>
</body>

</html>
