<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加进场信息</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
            <div class="pull-right">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown notifications hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span aria-hidden="true" class="glyphicon glyphicon-flag"></span>
                            <div class="sr-only">通知</div>
                            <p class="counter">4</p>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li class="dropdown messages hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span aria-hidden="true" class=" glyphicon glyphicon-comment"></span>
                            <div class="sr-only">消息</div>
                            <p class="counter">3</p>
                        </a>
                        <ul class="dropdown-menu messages">
                            <li>
                                <!-- <img width="34" height="34" src="images/avatar-male2.png"> -->
                                <a href="#">消息1111</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown settings hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
                            <div class="sr-only">设置</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>设置</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user hidden-xs">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img width="34" height="34" src="../images/admin.png">管理员<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i>我的账户</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-gear"></i>账户设置</a>
                            </li>
                            <li>
                                <a href="/login">
                                    <i class="icon-signout"></i>退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/login">
                志恒达
                <img src="../images/visionapps.svg" alt="">
            </a>
            <!--   <form class="navbar-form form-inline col-lg-2 hidden-xs">
                <input class="form-control" placeholder="搜索" type="text">
            </form> -->
        </div>
        <div class="container-fluid main-nav clearfix">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a class="current" href="index.html">
                            <span aria-hidden="true" class="glyphicon glyphicon-home"></span>主页
                        </a>
                    </li>
                    <li v-for="role in roles">
                        <a href="{{role.url}}">
                            <span aria-hidden="true" class="{{role.icon}}"></span> {{role.CD_MC}}
                        </a>
                    </li>
                    <!--  <li>
                        <a href="social.html">
                            <span aria-hidden="true" class="glyphicon glyphicon-compressed"></span>蔬菜检测管理
                        </a>
                    </li>
                    <li>
                        <a href="social.html">
                            <span aria-hidden="true" class="glyphicon glyphicon-credit-card"></span>蔬菜交易管理
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class=" masthead ">
        <div class="container">
            <div style="padding-top: 10px;">
                <ol class="breadcrumb container">
                    <li><a href="#">回到主页</a></li>
                    <li><a href="/matterInReg">进场信息</a></li>
                    <li class="active">添加</li>
                </ol>
            </div>
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="TRANS_ID" class="col-sm-2 control-label">供应商</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="TRANS_ID" placeholder="请选择供应商">
                    </div>
                </div>
                <!--       <div class="form-group">
                    <label for="DC_ID" class="col-sm-2 control-label">配送中心编码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="DC_ID" placeholder="配送中心编码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="DC_NAME" class="col-sm-2 control-label">配送中心名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="DC_NAME" placeholder="配送中心名称">
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">进场日期</label>
                    <div class="col-sm-8" id="sandbox-container">
                        <input type="text" class="form-control" name="IN_DATE">
                    </div>
                </div>
                <!--    <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">批次码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">生产基地</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="生产基地">
                    </div>
                </div>
                <!--  <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">重量</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">产地编码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">操作人员编码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">商品类型</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID">
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">供货单位</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="请选择供应商">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">重量</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="请输入重量">
                    </div>
                </div>
                <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">价格</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BATCH_ID" placeholder="请输入价格">
                    </div>
                </div>
                <!--   <div class="form-group">
                    <label for="IN_DATE" class="col-sm-2 control-label">明细</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="form-control"></div>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-refresh"></i> 重置
                        </button>
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-ok"></i> 提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    $('#sandbox-container input').datepicker({
        language: 'zh-CN',
        orientation: "bottom auto",
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        todayBtn: true,
    });

    $(window).scroll(function() {
        var scrollValue = $(window).scrollTop();
        scrollValue > 45 ? ($('.navbar,.jumbotron').addClass('closed')) : ($('.navbar,.jumbotron').removeClass('closed'));
    })




    var app = new Vue({
        el: 'body',
        data() {
            return {
                // myRoles: []
            }
        },
        ready: function() {
            this.loadRole();

        },
        methods: {
            loadRole: function() {
                var self = this;
                $.ajax({
                    url: '/api/role',
                    type: 'GET',
                    success: function(data) {
                        self.$set('roles', changeRoleJson(data.data));
                        console.log(self.roles);
                    },
                    error: function(data) {
                        console.log(data);
                    }
                })
            }
        },
        computed: {

        }
    })


    function changeRoleJson(dataJson) {
        dataJson.map(function(item) {
            switch (item.CD_DM) {
                case 65:
                    item.icon = 'glyphicon glyphicon-log-in';
                    item.url = '/matterInReg';
                    break;
                case 68:
                    item.icon = 'glyphicon glyphicon-compressed';
                    item.url = '/matterInQuar';
                    break;
                  case 69:
                    item.icon = 'glyphicon glyphicon-credit-card';
                    item.url = '/matterInSale';
                    break;
                default:
                    item.icon = 'glyphicon glyphicon-th';
                    item.url = '/';
                    break;
            }
        })
        return dataJson;
    }
    </script>
</body>

</html>
